mat-toolbar-row {
    display: flex;
    align-items: center;
  }
  
  .separador {
    flex-grow: 1;
  }
  @media (max-width: 600px) {
    mat-toolbar-row {
      width: 100%;
    }
  }

  #dados {
    padding: 15px;
  }