<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1> Services </h1>
    <span class="separador"></span>
    
    <button mat-button matTooltip="Funcionários" [matMenuTriggerFor]="menuFuncionarios">Funcionários</button>
    <button mat-icon-button [matMenuTriggerFor]="dadosUser"><mat-icon>person</mat-icon></button>
    <mat-menu #dadosUser class="dadosUser">
      <p id="dados">Login: {{authService.emailToken()}}</p>
      <p id="dados">Seu token expira em: {{ expiracaoDataToken | date: "dd/MM/yyyy | HH:mm:ss" }}</p>
    </mat-menu>
    <mat-menu #menuFuncionarios="matMenu">
      <button
        mat-menu-item
        routerLink="/funcionarios"
      >Listar</button>
      <button mat-menu-item
         routerLink="/cargos"
      >Cargos</button>
      <button mat-menu-item routerLink="/clientes">
        Clientes
      </button>
    </mat-menu>

    <button mat-icon-button matTooltip="Logout" (click)="authService.signOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
