.container {
  min-height: calc(100vh - 120px);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr;
  height: 100%;
}

#lateral {
  background: #3f51b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#lateral h2 {
  color: white;
  text-align: center;
  font-weight: 500;
  transform: rotate(-90deg);
}

main {
  display: flex;
  grid-template-rows: 1fr;
  grid-template-columns: 500px 1fr;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
  float: left;
  height: 100%;
}

table {
  height: fit-content;
}

.ativo {
  color: red;
}

#add {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

@media (max-width: 600px) {
  #lateral {
    display: none;
  }
  table {
    margin-left: 50px;
  }

}
